/* Header Block */
header {
    display: flex;
    position: sticky;
    top:0;
    background-color: #233000 ;
    height: 150px;
    z-index: 100;
}
.header-item {
	margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}
.logo-img {
    display: flex;
    align-items: center;
    max-width: 200px;
}
.logo-img-size{
    width: 100%;
}
.nav{
    display: flex;
    transition-duration: 0.4s;
}
ul {
    display:flex;
    width: 550px;
    justify-content: space-between;
}

.nav-font {
    color: #ffffff;
    font-family: "Rufina", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 19.36px;
}
.nav a:hover {
    color: #9CAA00; 
}
.button {
    display: flex;
    align-items: center;
	justify-content: center;
    height: 60px;
    width: 180px;
    border: 2px solid white;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 20px ;
    font-family: "Rufina", serif;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 1px;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: #9CAA00; /* Green */
    color: white;
  }

.burger-bar {
    display: none;
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(255, 255, 255);

}

.line {
    height: 2px;
    width: 65%;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

}

.line1 {
   top: 30%;  
}
.line3 {
    top:70%
}
.bk-cl{
    background-color: #233000;
}
.container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    margin: 0 auto;

}
.s1-left-box-h1 {
    font-size: 100px ;
    font-family: "Rufina", serif;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 1px;
}

@media (max-width: 1024px) {

    .logo-img-size {
        width: 80%;
    }
    ul {
        display:flex;
        width: 400px;
        justify-content: space-between;
    }
    .nav-font {
        color: #ffffff;
        font-family: "Rufina", serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 19.36px;
	}

    .button {
        width: 100px;
        height: auto;
        font-size: 14px;
        padding: 18px 10px;
    }

}

@media (max-width: 768px) {
    .header-item{
        display: flex;

    }

    .nav {
        display: none;
    }
    .nav.active {
        display: block;
    }

    .ul-el {
       flex-direction: column; 
       align-items: center;
    }


    .logo-img {
        order: 2;
        text-align: center;
        width: 60%;

    }

    .button {
        order: 1;
        width: 80px;
        height: auto;
        font-size: 12px;
        padding: 10px 10px;
    }

    .burger-bar {
        display: block;
        order: 3;
        width: 40px;
        height: 40px;
    }


}

@media (max-width: 320px){ 
    .logo-img{
        width: 50%;
        text-align: center;
    }

}
